.grid{
    display: grid;
    width: 100%;
    height: 2550px;
    grid-template-columns: 200px 1400px;
    grid-template-rows: 250px 250px 250px 50px;
    grid-template-areas:
    "header header" 
    "sidebar content"
    "sidebar content"
    "sidebar footer";
}


.header{
    grid-area: header;
    



}
.sidebar{
    grid-area: sidebar;
    
    
}
.content{
    grid-area: content;
    
    
}
.footer{
    grid-area: footer;
    
}
.ProfileImage{
    background-image: url("http://opgg-static.akamaized.net/images/borders2/diamond.png");
    margin-top: 25px;
    margin-left: 25%;
    max-width: 100px;
    max-height: 100px;
}
.username{
    margin-left: 30%;

}